name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Create release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install rokit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl -sSf https://raw.githubusercontent.com/rojo-rbx/rokit/main/scripts/install.sh | bash
          echo "$HOME/.rokit/bin" >> $GITHUB_PATH

      - name: Install toolkit
        run: rokit install --no-trust-check

      - name: Generate changelog
        run: .github/scripts/generate-changelog.sh > CHANGELOG.md

      - name: Convert aliases to directory
        run: rojo-build-noalias --convert-to ./build-output

      - name: Build project
        run: |
          CURRENT_TAG="${GITHUB_REF#refs/tags/}"
          rojo build ./build-output -o "forge-vfx@${CURRENT_TAG}.rbxm"

      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          CURRENT_TAG="${GITHUB_REF#refs/tags/}"
          gh release create "${CURRENT_TAG}" \
            "./forge-vfx@${CURRENT_TAG}.rbxm" \
            --title "${CURRENT_TAG}" \
            --notes-file CHANGELOG.md

      - name: Authenticate with Wally
        run: wally login --token "${{ secrets.WALLY_AUTH_TOKEN }}"

      - name: Publish to Wally
        run: |
          cd build-output
          wally publish

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: pip install discord-webhook

      - name: Send Discord notification
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: |
          CURRENT_TAG="${GITHUB_REF#refs/tags/}"
          .github/scripts/post-discord-webhook.sh "${CURRENT_TAG}"
